@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap');

html, body {
    height: 400vh;
    font-family: 'Agdasima', sans-serif;
}
body { 
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    box-sizing: border-box; 
}
main {
    flex: 1;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navigationbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    font-family: 'Agdasima', sans-serif;
    border: 1px solid #BDDDFC;
    background-color: #BDDDFC;
    height: 70px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.leftsection {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration:none;
}

.logo {
    height: 60px;
    width: 50px;
}

.Title {
    font-size: 25px;
    color: black;
    font-weight: 700;
}

.MidSection {
    display: flex;
    gap: 25px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.MidSection a {
    color: black;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}

.MidSection :hover{
    color: white;
    text-decoration: underline;
}

.Login_Button {
    display: flex;
    align-items: center;
}

.Login_Button a {
    color: black;
    font-size: 20px;
    font-weight: 700;
    padding: 5px 20px;
    border: 1px solid #88BDF2;
    background-color: #88BDF2;
    border-radius: 10px;
    text-decoration: none;
}

.Login_Button a:hover {
    background-color: #5596D6;
    color: #ffffff;
}

.intro{
    text-align: center;
    padding: 5rem 2rem;
    position: relative; 
}

.intro h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.intro p {
    font-size: 20px;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    color: #2b4660;
}

.intro_button button{
    background-color: #88BDF2;
    border: none;
    border-radius: 5px;
    font-family: "Agdasima";
    font-weight: 700;
    font-size: 17px;
    height: 40px;
    width: 160px;
}

.intro_button button:hover {
    background-color: #5596D6;
    color: #ffffff;
}

.intro-tagline{
    font-style: italic;
}

.how-it-works{
    text-align: center;
    padding: 3rem 2rem;
}

.how-it-works h2{
    font-size: 25px;
    margin-bottom: 1rem;

}

.how-it-works p{
    font-size: 20px;
}

.steps {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.5rem;
}

.step {
    background-color: #F5EEC8;
    border: 2px solid #2b4660;
    border-radius: 8px;
    padding: 1.5rem;
    width: 230px;
    text-align: center;
    font-size: 20px;
}

.why-choose-us{
    background-color: #BDDDFC;
    text-align: center;
    padding: 3rem 2rem;
}

.why-choose-us h2{
    font-size: 25px;
    margin-bottom: 1.5rem;
}

.why-choose-us ul{
    list-style: none;
    max-width: 800px;
    margin: 1rem auto;
    text-align: left;
}

.why-choose-us li{
    background-color: #F5EEC8;
    border-left: 4px solid #2b4660;
    margin: 0.5rem 0;
    padding: 0.75rem 1rem;
    border-radius: 5px;
    font-size: 20px;
}

.pets{
    text-align: center;
    padding: 3rem 2rem;
}

.pets h2{
    margin-bottom: 1.5rem;
    font-size: 25px;
}

.pet-grid {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.pet-card {
    background-color: #F5EEC8;
    border: 2px solid #2b4660;
    border-radius: 8px;
    padding: 1rem;
    width: 250px;
    text-align: center;
}

.pet-card:hover {
    transform: translateY(-5px);
    background-color: #D0D4CA;
}

.pet-card img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 6px;
}

.pets p{
    margin-bottom: 1rem;
    font-size: 20px;
    color: #2b4660;
}

.pet-card h2{
    color: #2b4660;
    margin: 0.5rem 0;
}

.adopt-btn{
    text-decoration: none;
    background-color: #88BDF2;
    color: black;
    border: none;
    padding: 0.5rem 1rem;
    border-radius:5px ;
    cursor: pointer;
    font-family: "Agdasima";
    font-weight: bold;
    height: 40px;
    width: 70px;
    font-size: 17px;
    text-align: center;
}

.adopt-btn:hover{
    background-color: #5596D6;
    color: #ffffff;
}


.testimonials {
    background-color: #F5EEC8;
    text-align: center;
    padding: 3rem 2rem;
}

.testimonials h2{
    font-size: 25px;
    margin-bottom: 1.5rem;
}

.testimonials p{
    font-size: 20px;
}

.testimonial-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.testimonial {
    background-color: #ffffff;
    border: 2px solid #2b4660;
    border-radius: 8px;
    padding: 1rem;
    width: 280px;
    text-align: center;
}

.fun-fact{
    background-color: #D0D4CA;
    text-align: center;
    font-size: 20px;
    padding: 1rem;
    font-style: italic;
    font-weight: bold;
}

.about h2{
    text-align: center;
    font-size: 25px;
    padding-top: 3rem;
}

.about p{
    text-align: center;
    font-size: 18px;
    padding-bottom: 1rem;
}

.footersection {
    border: 1px solid #BDDDFC;
    background-color: #BDDDFC;
    text-align: center;
    padding: 10px 0;
}

.footersection p {
    margin: 2px 0;
    font-size: 20px;
    font-weight: 700;
    font-family: "Agdasima";
}
